/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.slider{
		padding: 20px 40px;
	}
	.slider h1{
		font-size: 25px;
	}
	.slider p{
		font-size: 18px;
	}
	.custom_indicators {
    	bottom: 10px;
	}

	.custom_indicators li {
	    width: 11px;
	    height: 11px;
	    border-radius: 50%;
	    margin-right: 5px;
	    margin-left: 5px;
	}
	.slider button{
		margin-bottom: 40px;
	}
	
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {


}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.slider{
		padding: 60px;
	}
	.slider h1{
		font-size: 24px;
	}
	.slider p{
		font-size: 18px;
	}
	.slider button{
		margin-bottom: 40px;
	}
	.custom_indicators {
    	bottom: 30px;
	}

	.custom_indicators li {
	    width: 13px;
	    height: 13px;
	    border-radius: 50%;
	    margin-right: 5px;
	    margin-left: 5px;
	}

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.custom_indicators li {
	    width: 13px;
	    height: 13px;
	    border-radius: 50%;
	    margin-right: 5px;
	    margin-left: 5px;
	}

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {


}

/*Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {

}